* {
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    background-image: url('../images/travel-background-image.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar,
.content-right-team {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.navbar {
    background-color: #fff;
    font-size: 20px;
}

.align-left {
    text-align: left;
}

nav {
    display: contents;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Optional: for horizontal layout */
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav a:hover {
    cursor: pointer;
    text-decoration: underline;
}
 
.align-right {
    text-align: right;
}

.logo img {
    width: 100px;
}

.flex-item {
    padding: 10px;
    flex: 50%;
}

.button {
    background-color: #000;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.search-bar {
    border: 1px solid;
    border-radius: 100px;
    padding-right: 15px;
}

.search-input {
    width: 60%;
    border: 0;
    border-right: none;
    padding: 5px;
    height: 30px;
    outline: none;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 30px;
}

.content div {
    margin: 10px 30px 10px;
}

hr {
    width: 1px;
    background-color: #000;
    height: 60%;
    margin-left: 20px;
}

.content-right {
    position: relative;
    top: 80px;
}

.content-right h1 {
    font-size: 60px;
    color: #000;
    font-weight: 600;
}

.content-right p {
    width: 300px;
    margin-top: 20px;
}

.about-us-text {
    width: 94.5% !important;
    background: #e6e7e9;
    padding: 10px;
    border-radius: 10px;
    line-height: 28px;
}

.content-left-images {
    margin-left: 0 !important;
    margin-top: 60px !important;
}

.content-left-images img {
    width: 50%;
    margin: 10px 0;
}

.book-now-button {
    margin-top: 50px;
}

.team-member {
    background-image: linear-gradient(#d0d2d6, #d1d1d1);
    height: 100px;
    position: relative;
    top: 20px;
}

.team-member img {
    width: 40px;
    float: left;
    margin-right: 15px;
}

.team-member button {
    width: 100%;
    margin-top: 20px;
}

.team-member p {
    margin: 0;
    font-size: 15px;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-us-form {
    padding: 10px;
    border-radius: 0;
    width: 30%;
}

.contact-us-form label {
    display: flex;
    width: 100%;
}

.margin-top-10px {
    margin-top: 10px;
}

.width-100-percent {
    width: 100%;
}

.width-50-percent {
    width: 50%;
}

.content-left-text {
    width: 50%;
    position: relative;
    top: 200px;
}

.contact-us-form input,
.contact-us-form textarea {
    display: flex;
    width: 97%;
    border: 1px solid #afafaf;
    height: 35px;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    background: #ebeced;
    padding-left: 10px;
}

.contact-us-form textarea {
    width: 99%;
    height: 150px;
    padding: 12px 13px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.margin-0 {
    margin: 0;
}

.search-results-content {
    max-height: 650px;
    overflow-y: auto;
    position: absolute;
    top: -100px;
}

.search-result-item {
    position: relative;
    left: 15px;
}

.search-result-item h2 {
    padding: 10px 10px 0px;
}

.search-result-item p {
    width: 400px;
    padding: 0px 10px 20px;
    margin-top: 10px;
}

.search-result-item img {
    border-radius: 10px 10px 0 0;
}

.search-result-item button {
    margin: 0px 10px 10px;
}